{
    "rclass" : "local",
    "packageType": "{{packageType}}",
    "description": "{{repo_name}}",
    "includesPattern": "**/*",
    "excludesPattern": "",
    "repoLayoutRef" : "simple-default",
    "checksumPolicyType": "client-checksums",
    "handleReleases": true,
    "handleSnapshots": false,
    "suppressPomConsistencyChecks": false,
    "blackedOut": false,
    "archiveBrowsingEnabled" : false
}
